@import '../../styles/helpers/_variables.scss';

.meta {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: $v-space / 2;
  color: $grey50;
  font-size: $fs-s;
}

.container {
  display: flex;

  & > * {
    flex: 1 1 0;
  }
}

.author {
  font-size: $fs;
  color: $col-dark;
  margin-bottom: $v-space / 2;
}

.avatar {
  width: 50px;
  height: 50px;
  fill: $col-dark;
  margin-right: $h-space / 4;
}
