@import '../../styles/helpers/_variables.scss';

.container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  color: $grey50;
  font-size: $fs-s;
  margin-bottom: $v-space / 2;

  & > * {
    flex: 1 1 0;
  }
}

// .meta {
//   display: flex;
//   justify-content: space-between;
//   align-items: baseline;
//   flex-wrap: wrap;
// }

// .author {
//   font-size: $fs;
//   color: $col-dark;
// }

// .avatar {
//   width: 50px;
//   height: 50px;
//   fill: $col-dark;
//   margin-right: $h-space / 4;
// }
