// ---------------------------------------------------------------
//  VARIABLES
// ---------------------------------------------------------------

$black: #000000;
$grey90: #0b0f22; //base dark
$grey80: #272b3c;
$grey70: #444756;
$grey60: #616470;
$grey50: #7e808a;
$grey40: #9a9ca4;
$grey30: #b7b9be;
$grey20: #d4d5d8;
$grey10: #fafafa; //base light
$white: #ffffff;

$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;

//-- Colors theme
$col-primary: $blue;
$col-secondary: $indigo;
$col-tertiary: $cyan;

$col-alert: $red;
$col-warning: $yellow;
$col-success: $green;
$col-info: $col-primary;

$col-light: $grey10;
$col-dark: $grey70;

//-- Spacing
$h-space: 2rem;
$v-space: 2rem;

//== Typography
$ff-body: 'Poppins', sans-serif;
$ff-headings: 'Gentium Book Basic', sans-serif;

$fs: 1rem;
$lh: 2rem;

$fs-s: 0.8rem;

$fs-h1: 3.5 * $fs;
$fs-h2: 2.7 * $fs;
$fs-h3: 2 * $fs;
$fs-h4: 1.7 * $fs;
$fs-h5: 1.4 * $fs;
$fs-h6: 1.2 * $fs;

//== Borders
$border-hairline: 1px;
$border-thin: 2px;
$border-thick: 3px;
$border-radius: 8px;

//Dropshadow
$ds-light: 0 8px 20px rgba($col-dark, 0.3);
$ds-seperator: 0 8px 20px -8px rgba($col-dark, 0.3);

//== Layout
$maxWidth: 800px;
$gutterOutside: $h-space*2;

//== Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

//== Transition
$duration-fast: 150ms;
$duration-medium: 300ms;
$duration-normal: 450ms;
$duration-slow: 750ms;
