{
  "plugins": [
    "stylelint-scss"
  ],
  "ignoreFiles": ["src/styles/base/_normalize.scss"],
  "extends": ["stylelint-config-standard", "stylelint-config-recommended-scss"],
  "rules": {
    color-hex-length: "long"
  }
}
