@import 'styles/helpers/_variables.scss';

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  color: $grey50;
  font-size: $fs-s;

  & > * {
    flex: 1 1 0;
    text-align: center;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }

  & > *:not(:last-child) {
    margin-right: $h-space / 2;
  }
}
