@import 'styles/helpers/_variables.scss';

.header {
  margin-bottom: $v-space / 4;
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;

  & > *:first-child {
    flex: 0 0 $h-space;
    margin-right: $h-space;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  p {
    margin: 0;
  }
}

.writer {
  font-size: 1.2rem;
  font-style: italic;
  color: $col-primary;
}

.buttons {
  display: flex;
  justify-content: flex-end;

  & > *:last-child {
    margin-right: 0 !important;
  }
}
