@import 'styles/helpers/_variables.scss';

.container {
  .header {
    margin-bottom: $v-space;
  }
}

.author {
  font-style: italic;
  color: $grey50;
}

.buttons {
  display: flex;
  justify-content: flex-end;

  & > *:last-child {
    margin-right: 0 !important;
  }
}

.seperator {
  height: 20px;
  box-shadow: $ds-seperator;
  margin-bottom: $v-space;
}

.body {
  font-size: 1.9rem;
  line-height: 1.4;
  color: $col-dark;
  font-style: italic;
  padding: $v-space $h-space;
  margin: $v-space 0;
  border-left: $border-thick solid $grey30;
}
