@import '../../../styles/helpers/_variables.scss';

.input {
  background-color: transparent;
  line-height: $lh;
  // margin-bottom: $v-space / 2;
  border: 0;
  border-bottom: $border-thin solid $grey30;
  transition: border $duration-medium;
  outline: none;
  width: 100%;

  &:focus {
    border-color: $col-primary;
  }

  &::placeholder {
    color: $grey20;
  }
}
