@import '../../styles/helpers/_variables.scss';

.vote {
  path {
    transition: all $duration-fast;
  }

  path:nth-child(2) {
    fill: transparent;
  }

  &:hover {
    path:nth-child(2) {
      fill: $grey50;
      cursor: pointer;
    }
  }
}
