@import '../../../styles/helpers/_variables.scss';

.textarea {
  background-color: transparent;
  line-height: $lh;
  padding: ($v-space / 2) 0;
  border: 0;
  border-bottom: $border-thin solid $grey30;
  outline: none;
  width: 100%;

  &::placeholder {
    color: $grey20;
  }
}
