// ---------------------------------------------------------------
//  BASE
// ---------------------------------------------------------------

body {
  background: linear-gradient(
    -30deg,
    $col-secondary,
    $col-primary,
    $col-tertiary
  );
  background-size: 400% 400%;
  background-attachment: fixed;
  animation: Gradient 18s ease infinite;
  color: $col-dark;
  font-size: $fs;
  line-height: $lh;
  font-family: $ff-body;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

a,
a > * {
  color: $grey90;
  transition: all $duration-fast;
  border-bottom: $border-thin solid transparent;
  text-decoration: none;

  &:hover,
  &:focus {
    border-bottom: $border-thin solid $col-primary;
    color: $col-primary;
  }
}
