// ---------------------------------------------------------------
//  Headings
// ---------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ff-headings;
  line-height: 1;
  margin-bottom: 0.5 * $lh;
  margin-top: 0;
  color: $col-dark;
}

h1 {
  font-size: $fs-h1;
}

h2 {
  font-size: $fs-h2;
}

h3 {
  font-size: $fs-h3;
}

h4 {
  font-size: $fs-h4;
}

h5 {
  font-size: $fs-h5;
}

h6 {
  font-size: $fs-h6;
}
