// ---------------------------------------------------------------
//  Headings
// ---------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ff-headings;
  line-height: 1;
  margin-bottom: $lh;
  margin-top: 0;
  color: $col-light;
}

h1 {
  font-size: $fs-h1;
  position: relative;
  padding-bottom: $v-space;
  margin-bottom: $v-space;

  &::after {
    position: absolute;
    content: '';
    display: block;
    height: $fs-h1;
    box-shadow: $ds-seperator;
    left: $h-space * -2;
    right: $h-space * -2;
    bottom: 0;
  }
}

h2 {
  font-size: $fs-h2;
}

h3 {
  font-size: $fs-h3;
}

h4 {
  font-size: $fs-h4;
}

h5 {
  font-size: $fs-h5;
}

h6 {
  font-size: $fs-h6;
}
