.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutterOutside;
  padding-right: $gutterOutside;
  max-width: $maxWidth;

  &:not(.container-transparent) {
    box-shadow: $ds-light;
    border-radius: $border-radius;
    padding-top: $v-space;
    padding-bottom: $v-space;
    background-color: $col-light;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $col-dark;
    }
  }

  &.container-transparent {
    a {
      color: $col-light;

      &:hover,
      &:focus {
        border-color: $col-light;
      }
    }
  }
}

.main-content {
  margin-top: $v-space;
  margin-bottom: $v-space;
}
